<div class="page-header">
  <div class="container">
    <h1>{{header}}</h1>
  </div>
</div>

<div class="container">
  <div class="row top-row">
    <div class="col-xs-12 row end-xs">
      <a routerLink="/students" color="primary" mat-raised-button>
        <mat-icon>chevron_left</mat-icon>
        Go Back
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <!-- Student Details -->
      <form #studentDetailsForm="ngForm">
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input type="text" matInput [(ngModel)]="student.firstName" name="firstName" required>
              <mat-error>First Name is a required field</mat-error>
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input type="text" matInput [(ngModel)]="student.lastName" name="lastName" required>
              <mat-error>Last Name is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Date Of Birth</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="student.dateOfBirth" name="dateOfBirth" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>Date Of Birth is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="text" matInput [(ngModel)]="student.email" name="email" required>
              <mat-error>Email is a required field</mat-error>
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Mobile</mat-label>
              <input type="number" matInput [(ngModel)]="student.mobile" name="mobile" required>
              <mat-error>Mobile is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Gender</mat-label>
              <mat-select [(ngModel)]="student.genderId" name="gender" required>
                <mat-option *ngFor="let gender of genderList" [value]="gender.id">
                  {{ gender.description }}
                </mat-option>
              </mat-select>
              <mat-error>Gender is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Physical Address</mat-label>
              <textarea matInput [(ngModel)]="student.address.physicalAddress" name="physicalAddress"
                required></textarea>
              <mat-error>Physical Address is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Postal Address</mat-label>
              <textarea matInput [(ngModel)]="student.address.postalAddress" name="postalAddress" required></textarea>
              <mat-error>Postal Address is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="row between-xs" *ngIf="!isNewStudent">
              <button mat-raised-button color="primary" (click)="onUpdate()">Save</button>
              <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
            </div>
            <div class="row between-xs" *ngIf="isNewStudent">
              <button mat-raised-button color="primary" (click)="onAdd()">Add</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-6">
      <div class="row center-xs">
        <div class="image-container">
          <img [src]="displayProfileImageUrl" alt="Profile Image">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 row center-xs mt-1" *ngIf="!isNewStudent">
          <input hidden type="file" #imageUpload (change)="uploadImage($event)">
          <button mat-raised-button color="primary" (click)="imageUpload.click()">Change Image</button>
        </div>
      </div>
    </div>
  </div>
</div>
