.top-row {
  padding: 1em 0;
}

.mat-form-field {
  width: 100%;
}

.image-container {
  width: 200px;
  height: 200px;
  background-color: #F7f7f7;
  border: 2px solid #CCC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container img {
  width: 200px;
}
