table {
  width: 100%;
}

.searh-input {
  outline: none;
  border: 1px solid #CCC;
  padding: 8px 10px;
  border-radius: 3px;
}

.searh-input:active {
  border: 1px solid #BBB;
}

.searh-input:focus {
  border: 1px solid #AAA;
}
